*{
    margin: auto;
    box-sizing: border-box;
    padding: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#container{
    width: 90%;
    margin: auto;
    
    
}
.title_header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 80px;
    
    border-bottom: 3px solid black;
    margin-top: 10px;
}
.left__, .right__{
    width: 20%;
   text-align: center;
    height: 100%;
}
.middle__{
    width: 60%;
    margin: auto;
}
.img_home, .img_bazos{
    width: 80px;
    height: 80px;
    text-align: center;
    
}
.img_bazos{
    width: 100px;
    height: 100px;
}
.middle_title, .middle_title_{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.middle_title_{
    font-size: 25px;
}
.body_container{
    margin: auto;
   
    width: 100%;

    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  
}

a{
    text-decoration: none;
    color: black;
   
}

.section_title{
    width: 20%;
    
    margin: auto;
    border-bottom: 3px solid black;
}
.section_title_inside{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 30px;
}
.section_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    
    margin-top: 20px;
    
}
.section_part{ 
    width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px black;
    
    padding: 10px;
    
}
.section_part_{
margin-left: 65%;
border: 3px solid black;
border-radius: 15px;


padding: 10px;
}
.section_part__{
    margin-right: 65%;
    border: 3px solid black;
    border-radius: 15px;
    
    
    padding: 10px;
}
.section_part:hover{
    background-color: gray; 
}

.section_part_:hover{
    background-color: gray;
    
   
    
}
.section_part__:hover{
    background-color: gray;
    
    
}
.section_part_title{
    width: 100%;
   
}
.section_part_title_inside{
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.img_section_part{
    width: 100%;
    height: 180px;
    
}
.img_section_part_inside{
    width: 100%;
   
    
   
}
.footer{
    width: 100%;
   padding: 10px;
    margin-top: 70px;
    display: flex;
    border-top: 3px solid black;
}
.under_cover:hover{
    text-decoration: underline;
}
.under_cover{
    padding-right: 10px
}


.create_container{
    width: 60%;
    margin: auto;
    margin-top: 25px;
   border: 3px solid black;
   border-radius: 10px;
   padding: 10px;
   margin-bottom: 25px;
}
.description_create, .description_create_{
    width: 60%;
 margin-top: 5px;
  
}
.description_create{
    margin-top: 30px;
   
}
.title_of_description{
    font-size: 25px;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
    border-bottom: 2px solid black;
   
}

.input_create, .input_create_description{
    width: 80%;
    
    margin-left: 10%;
    text-indent: 50px;
    font-size: 20px;
    border: 3px solid grey;
    border-radius: 5px;
    padding: 7.5px;
    background-color: black;
    color: white; 
   
}
.input_create_description{
    height: 200px;
    padding-bottom: 150px;
    white-space: pre-wrap;
   text-overflow: ellipsis;
}

.input_create_photo{
    width: 80%;
    margin-left: 10%;
   border: 3px solid black;
border-radius: 10px;
    height: 350px;
   
}
.create_adv_button{
    width: 30%;
    
    margin: auto;
    margin-top: 20px;
   
}
.create_adv_button_inside{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 25px;
    border: 3px solid grey;
    padding: 7.5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.create_adv_button_inside:hover{
    transform: scale(1.1);
}
.adv_title{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    border-bottom: 3px solid black;
}
.adv_title_inside{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
    
}
.adv_view_container{
    width: 75%;
    border: 3px solid black;
    margin-top: 25px;
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .section_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .section_part, .section_part_, .section_part__{ 
        width: 50%;
        margin: auto;
        border: 3px solid black;
        border-radius: 15px;
        box-shadow: 3px 3px black;
       margin-top: 25px;
        padding: 10px;
       
        
    }
    .section_part_{
        margin-top: 0px;
    }
   
    .body_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .section_part_title_inside{
        font-size: 20px;
    }
   .section_title{
    width: 40%;
   }
   .img_home{
    width: 65px;
    height: 65px;
   
   }
   .middle_title{
    font-size: 30px;
    
   }
  }

